

nav{
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.buttondiv{
  display: flex;
  justify-content: space-around;
}
nav a{
  padding-top: 25px;
}


div.scrollmenu {
  background-color: rgb(228, 213, 213);
  overflow: auto;
  white-space: nowrap;
  margin: 30px auto;
  height: 370px;
  width: 90%;
}

div.scrollmenu h3{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu h3:hover{
  background-color: rgb(238, 204, 237);
}
.home{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px auto;
}
.container-fluid img{
  width: 100%;
}
/* .container-fluid{
  display: flex;
  flex-wrap: wrap;
  width: 190%;
  height: 10%;
  margin: 50px 90px 0px 10em;
} */
.col-md-3{
  display: inline-block;
  margin: 40px 40px 30px 3em;
  text-align: center;
}